<div>
  <h2 style="text-align: center">Task List</h2>
  <br />
  <br />
  <button (click)="filterTasks('all')">All</button>
  <button (click)="filterTasks('completed')">Completed</button>
  <button (click)="filterTasks('incomplete')">Incomplete</button>
  
  <ul style="justify-content: center; display: grid; margin: 40px">
    <li *ngFor="let task of filteredTask" class="taskList">
      <div class="taskTitle">
        <input
          type="checkbox"
          (change)="onCompleteTask(task.id)"
          [checked]="task.completed"
        />&nbsp;&nbsp;
        <strong>{{ task.title }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span [class.completed]="task.completed">{{
          task.completed ? "(Completed)" : "(Uncomplete)"
        }}</span>
      </div>

      <br />
      <div>
        {{ task.description }}
      </div>
      <br />
      <br />
    </li>
  </ul>
</div>
